*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(44, 44, 46);
}

#myVideo {
    display: none; /* cachée au départ */
    width: 600px;
    transition: 0.3s;
    margin: auto;
    
  
  }

.btn{
   background-color: dodgerblue;
   color: white;
   border: 0;
   border-radius: 10px;
   padding:10px 20px;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6) ;
   margin: auto;

}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100%;            
    flex-direction: column;  
}